*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

:root{
    --body-color:linear-gradient(216deg,#b621fe,#1fd1f9);

}

.main-container{
    min-height: 100vh;
    background-image:var(--body-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.helper{
    display: flex;
    /* border: 2px solid black; */


}
input{
    height: 50px;
    width: 100%;
    font-size: 1.2rem;
    letter-spacing: 2px;
    outline: none;
    border: none;
    transition: opacity 0.4s linear;
    transition: width 0.5s linear;


    padding-left:10px 
     
}


.main-container  .img-container i{
    background-color: white;
    height: 50px;
    width: 50px;
    padding: 12px 0px 0px 12px;
    cursor: pointer;  
    transition: transform 0.2s linear;

}
.main-container .helper .img-container i:hover{
    color: rgb(91, 84, 84);
}

.hide-ip{
     /* width: 0px;  */
    opacity: 0;
    transition: opacity 0.1s linear;


}
.footer{
border-top :1px solid white; 
    background-color: rgb(23, 77, 255);
    text-align: center;
    min-height: 30px;
    padding: 4px;
    color: white;
}
.footer a{
    color: aliceblue;
}

.translate-btn{
    transform: translateX(-200%);
}